.header-c {
  min-height: 100px;
  background-color: white;
  padding: 30px 0;
}
.header {
  @include container-max-width;
  margin: 0 auto;
  background-color: black;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
